* {
	margin: 0;
	padding: 0;
}

.header {
	height: 120px;
	display: flex;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.menu ul {
	list-style: none;
	display: flex;
	gap: 40px;
}

.menu a {
	text-decoration: none;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	line-height: 30px;
	color: #B08EAD;
}

.logo {
	margin-left: 113px;
}

.cart {
	margin: 0 140px 0 5px;
}

.main-block {
	height: 817px;
	background: linear-gradient(
		to bottom,
		#C9ADC6 0%,
		#C9ADC6 50%,
		#D6BBD3 50%,
		#D6BBD3 100%
	);
}

.main-pic {
	position: absolute;
	margin: 72px 411px 70px 178px;
}

.mini-main-block {
	width: 425px;
	height: 450px;
	background-color: #B08EAD;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding-left: 40px;
	position: absolute;
	margin: 182px 113px 185px 902px;
}

.new {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: white;
	margin-bottom: 10px;
}

.main-title {
	font-family: 'Cormorant Garamond', serif;
	font-size: 45px;
	line-height: 55px;
	color: white;
	margin-bottom: 22px;
}

.designer {
	width: 1265px;
	height: 658px;
	margin: auto;
	margin-top: 75px;
}

.designer-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.designer-title {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B99BB6;
	margin-bottom: 13px;
}

.designer-desc {
	font-family: 'Cormorant Garamond', serif;
	font-size: 26px;
	line-height: 38px;
	color: #5F4D5D;
	margin-bottom: 17px;
}

.lm-btn {
	width: 141px;
	height: 45px;
	border: 1px solid #B99BB6;
	border-radius: 25px;
	background-color: white;
	font-family: 'Roboto';
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #B99BB6;
	margin-bottom: 50px;
}

.designer-photo {
	display: flex;
	justify-content: center;
	gap: 37px;
}

.designer-blocks {
	width: 368px;
	height: 427px;
	background-color: #CEB3CB;
	margin-bottom: 30px;
}

.about {
	font-family: 'Cormorant Garamond', serif;
	font-size: 25px;
	line-height: 30px;
	color: white;
	margin: 23px 0 6px 23px;
}

.about-a {
	text-decoration: none;
	font-family: 'Cormorant Garamond', serif;
	font-size: 17px;
	line-height: 30px;
	color: white;
	margin-left: 23px;
}

.begin, .product {
	width: 1215px;
	height: 416px;
	margin: auto;
	margin-top: 40px;
	display: flex;
}

.carrer {
	width: 1215px;
	height: 506px;
	margin: auto;
	margin-top: 40px;
	display: flex;
	box-sizing: border-box;
	padding-left: 31px;
}

.info-text {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 88px 66px 98px 60px;
	gap: 10px;
}

.title {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B99BB6;
	text-transform: uppercase;
}

.desc {
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	line-height: 30px;
	color: #5F4D5D;
}

.line {
	width: 1215px;
	height: 1px;
	background-color: #D7B7D4;
	margin: auto;
	margin-top: 40px;
}

.catalog {
	width: 1215px;
	height: 990px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 90px;
	gap: 49px 27px;
}

.catalog-block {
	width: 377px;
	height: 467px;
}

.catalog-name {
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #5F4D5D;
	margin: 9px 0 7px 0;
}

.price {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #B0B0B0;
}